air/bin/image_exchange_server
air/lib/
air/output/
air/data/
gnd/bin/image_exchange_client
gnd/lib/
gnd/output/
gnd/data/
cam_control/bin/
cam_control/lib/
cam_control/output/
sony_cam_control/air/bin/
sony_cam_control/air/lib/
sony_cam_control/air/output/
sony_cam_control/gnd/bin/
sony_cam_control/gnd/lib/
sony_cam_control/gnd/output/

